@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #032f5d;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3399ff;
    color: white;
    text-align: center;
    padding: 15px;
    
}

h1,
h2 {
    color: #003366;
    text-align: center;
    
}

nav ul {
     margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    text-align: center;
}

nav ul li a {
     color: white;
    background-color: #0066cc;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #004c99;
}

section {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    
    
}

#main-content{
    text-align: center;
}

#projects{
    list-style: square;
   
}

#about {
    background-color: #f2f2f2;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    
}

th,
td {
    border: 1px solid #003366;
    padding: 8px;
    
}

th {
    background-color: #002f5f;
    color: white;
}

button {
    background-color: #3399ff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    
}

button:hover {
    background-color: #007acc;
}

footer {
    background-color: #3399ff;
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 16px;
}

hr {
    border: 1px solid #003366;
    margin: 20px 0;
}